<!DOCTYPE html>

<html lang="en">

<head>

  <title>Vue.js + Three.js Boiler - Patrick Heng</title>

  <meta charset="utf-8">
  <base href="/">

  <!-- SEO -->
  <meta name="description" content="Webgl and canvas experiements.">
  <meta name="keywords" content="three.js, canvas, experiment, gobelins">
  <meta name="author" content="Patrick Heng">
  <meta name="copyright" content="© Copyright 2016 - Patrick Heng" />
  <meta name="location" content="Paris, FRANCE">
  <meta name="robots" content="index, nofollow">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->

  <!-- Facebook meta -->
  <meta property="og:title" content="Vue.js + Three.js Boiler - Patrick Heng"/>
  <meta property="og:image" content="http://lab.hengpatrick.fr/images/share.jpg"/>
  <meta property="og:url" content="http://lab.hengpatrick.fr"/>
  <meta property="og:site_name" content="Vue.js + Three.js Boiler - Patrick Heng"/>
  <meta name="description" content="Webgl and canvas experiements"/>

  <!-- Twitter meta -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@pat_hg">
  <meta name="twitter:creator" content="@pat_hg">
  <meta name="twitter:title" content="Vue.js + Three.js Boiler - Patrick Heng">
  <meta name="twitter:description" content="Webgl and canvas experiements">
  <meta name="twitter:image:src" content="http://lab.hengpatrick.fr/images/share.jpg">

  <!-- GOOGLE + Share -->
  <meta itemprop="name" content="Vue.js + Three.js Boiler - Patrick Heng">
  <meta itemprop="description" content="Webgl and canvas experiements">
  <meta itemprop="image" content="http://lab.hengpatrick.fr/images/share.jpg">

</head>

<body>

  <div id="application">

  </div>

</body>

</html>
