html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #application {
  width: 100%;
  height: 100%;
  background: $color-white;
}

* {
  outline: none;
  box-sizing: border-box;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
}

a {
  text-decoration: none;
}

canvas {
  vertical-align: middle;
}

.link {
  &:after {
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 0.4rem;
    background: rgba( $color-black, 0.2 );
    bottom: 0;
    margin-top: 0.4rem;
    opacity: 0;
    transform: scaleY( 0 );
    transform-origin: center;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    z-index: -1;
    transform-origin: bottom;
  }

  .desktop-device &:hover {
    &:after {
      opacity: 1;
      transform: none;
    }
  }
}

.is-grabbing {
  cursor: -webkit-grabbing !important;
}
